
{% extends "base.html" %}


{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
         
          <li class="nav-item dropdown">
            <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul> -->
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link active" aria-current="page" href="/">Home</a> -->
          </li>
        </ul>
        <form class="d-flex">
            <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
        </form>
      </div>
    </div>
  </nav>
<div class="container-md">
  

<form action="createproduct" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Prodcut Name</label>
      <input type="name" class="form-control" name="title" id="exampleInputname" aria-describedby="emailHelp">
      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">About Product</label>
      <input type="text" class="form-control" name="content" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <select class="form-select" name="category" type="input" aria-label="Default select example">
            <option >Select Product Category</option>
            {% for cat in category %}
            <option value="{{ cat.Id }}">{{ cat.category }}</option>
           
            {% endfor %}
          </select>
      </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  </div>
{% endblock %}